<html>
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700,900">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/js/functions.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108685599-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-108685599-1');
    </script>
  </head>
  <body>

    <section class="container full main">
      <h1>Peter Ikin</h1>
      <h2>Software Engineer</h2>
      <div class="learn-more">
        <a class="smoothScroll" href="#about" title="Learn More">Learn More
          <i class="fa fa-angle-down"></i>
        </a>
      </div>
    </section>

    <section id="about" class="container half about">
      <div class="button">
        <a href="/blog">
          <i class="fa fa-rss fa-5x" aria-hidden="true"></i>
          Blog
        </a>
      </div>
      <div class="button">
        <a href="/lab">
          <i class="fa fa-flask fa-5x" aria-hidden="true"></i>
          Lab
        </a>
      </div>
    </section>

    <section class="container half foot">
      <div class="social-media">
        <a href="https://twitter.com/PeterIkin">
          <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/in/peterikin">
          <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/peter-ikin">
          <i class="fa fa-github fa-2x" aria-hidden="true"></i>
        </a>
      </div>
      <p>Built by Peter Ikin © 2017</p>
    </section>

  </body>

</html>
<!-- Photo by Artem Sapegin on Unsplash -->